@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap");

:root {
  --btn-color-01: #219ebc;
  --btn-color-02: #ffb703;
  --btn-color-03: #d62828;
  --btn-color-04: #6c757d;
  --btn-color-05: #386641;
}

* {
  font-family: "Noto Sans TC", sans-serif;
  margin: 0;
  padding: 0;
}
div {
  margin: 1rem;
}

button {
  border: none;
  padding: 1.5rem;
  border-radius: 16px;
  font-size: 1rem;
  font-weight: 700;
}

button:hover {
  cursor: pointer;
  box-shadow: 0 3px;
}

button:active {
  box-shadow: 0 1px;
  transform: translateY(4px);
}

input {
  padding: 0.5rem;
  border-radius: 16px;
  border: 1px solid grey;
}

/**主畫面**/
#countdown-time,
#passed-time {
  font-size: 3rem;
  font-weight: 700;
  display: inline-block;
}

#stop-countdown-btn,
#start-countdown-btn {
  margin: auto 1rem;
}

#stop-countdown-btn {
  background-color: var(--btn-color-03);
  color: #ffffff;
}

#start-countdown-btn {
  background-color: var(--btn-color-02);
}

/**主畫面**/

/**tab畫面**/
#tab-div {
  border-top: 1px solid grey;
}
/*tab button 設定*/
#tab-buttons-div {
  margin-top: 1rem;
}
.tab-button {
  background-color: #f1f1f1;
  transition: background-color 0.3s ease;
  border-radius: 0;
}

.tab-button.active {
  background-color: #ccc;
  border-bottom: 2px solid #000;
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}
/*tab button 設定*/

#basic-tab-div,
#setting-interface-div {
  border: 1px solid grey;
  margin: 0 1rem;
}
#enter-time-div form {
  margin: 1rem auto;
}
#manual-add-btn {
  background-color: var(--btn-color-01);
}

#add-time-btn-div button {
  margin: auto 1rem;
  background-color: var(--btn-color-02);
}

#modify-time-div form {
  margin: 1rem auto;
}

#modify-time-div form button {
  margin: 1rem;
}

#modify-countdown-btn {
  background-color: var(--btn-color-05);
  color: white;
}

#modify-passed-btn {
  background-color: var(--btn-color-01);
}

/**tab畫面**/

/**動畫**/
#animation-span {
  position: absolute;
  right: 0;
  bottom: 0;
  color: red;
  animation: float-up 3s ease-out forwards;
}

@keyframes float-up {
  0% {
    bottom: 0;
    opacity: 1;
  }

  100% {
    bottom: 100%;
    opacity: 0;
  }
}

#countdown-time {
  position: relative;
}
/**動畫**/
